<%- contentFor('HeaderCss') %>
<link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">


<link rel="stylesheet" href="public/assets/libs/twitter-bootstrap-wizard/prettify.css">

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Forms Elements</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Forms Elements</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<% if(isNew) { %>
    new

<% } else { %>
old
<% } %>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progrss-wizard" class="twitter-bs-wizard">
                    <ul class="twitter-bs-wizard-nav nav-justified">
                        <li class="nav-item">
                            <a href="#progress-seller-details" class="nav-link" >
                                <span class="step-number bg-primary text-white">01</span>
                                <span class="step-title">Basic Details</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#progress-bank-detail" class="nav-link"  >
                                <span class="step-number  bg-light text-primary">02</span>
                                <span class="step-title">company Credentials</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#progress-company-document" class="nav-link"  >
                                <span class="step-number bg-light text-primary">03</span>
                                <span class="step-title">company Images</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">04</span>
                                <span class="step-title">company Documents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">05</span>
                                <span class="step-title">company pProfile</span>
                            </a>
                        </li>
                    </ul>
                    <div  class="progress mt-4 mb-6">
                        <div class="bg-success progress-bar-striped progress-bar-animated" style="width: 20%;"></div>
                    </div>
                    <% if(isNew) { %>
                        <form class="custom-validation mt-4" action="/Step1" method="post">
                    <% } else { %>
                        <form class="custom-validation mt-4" action="/updateStep1" method="post">
                    <% } %>
                    <div class="row">
                        <center>
                            <div class="col-md-6">
                                <img class="rounded me-2" alt="200x200" width="200" id="logoimage" src="<%= company.company_logo || 'https://w7.pngwing.com/pngs/531/481/png-transparent-gallery-photo-upload-photo-image-facebook-ui-colored-icon-thumbnail.png' %>" data-holder-rendered="true">
                                <input type="text" name="logolink" id="uploadlogolink" hidden value="<%= company.company_logo %>">
                            </div>
                            <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">Upload Logo</button> -->
                            
                            <div class="mt-4 mb-4 col-lg-4">
                                <input type="file" class="form-control " id="uploadlogo">
                              </div>

                        </center>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="progress-basicpill-lastname-input">Company / company Name</label>
                                <input type="text" class="form-control" name="company_name" required value="<%= company.company_name %>">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="progress-basicpill-lastname-input">Website</label>
                                <input type="text" class="form-control" name="website" placeholder="Optional" value="<%= company.website %>">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="input-email">Official Email ID</label>
                                <input type="email" name="company_email" class="form-control input-mask" value="<%= company.company_email %>" required >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Countries You Deal in</label>
                                <select class="select2 form-control select2-multiple"
                                    multiple="multiple" data-placeholder="Select Countries" name="countries" id="countries" required>
                                    <% if(isNew) { %>
    
                                        <% countries.forEach(function(c) { %>
                                            <option value="<%= c.id %>"><%= c.country_name %></option>
                                        <% }); %>


                                    <% } else { %>
                                    <% countries.forEach(function(c) { %>
                                        <% var selected = false; %>
                                        <% company_country_deals.forEach(function(cd) { %>
                                            <% if (c.id == cd.id && !selected) { %>
                                                <% selected = true; %>
                                                <option value="<%= c.id %>" selected><%= c.country_name %></option>
                                            <% } else if (c.id == cd.id && selected) { %>
                                            <% } %>
                                        <% }); %>
                                        <% if (!selected) { %>
                                            <option value="<%= c.id %>"><%= c.country_name %></option>
                                        <% } %>
                                    <% }); %>
                                    <% } %>
                                   
                                   
                                    <option value="0">Request Country</option>
                                </select>
                            </div>
                        </div> 
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Categories You Deal in</label>

                                <select class="select2 form-control select2-multiple"
                                    multiple="multiple" data-placeholder="Select Categories" name="categories" id="categories" required>
                                    <% if(isNew) { %>
    
                                        <% categories.forEach(function(c) { %>
                                            <option value="<%= c.id %>"><%= c.category_name %></option>
                                        <% }); %>


                                    <% } else { %>

                                    <% categories.forEach(function(c) { %>
                                        <% var selected = false; %>
                                        <% company_category_deals.forEach(function(cd) { %>
                                            <% if (c.id == cd.id && !selected) { %>
                                                <% selected = true; %>
                                                <option value="<%= c.id %>" selected><%= c.category_name %></option>
                                            <% } else if (c.id == cd.id && selected) { %>
                                            <% } %>
                                        <% }); %>
                                        <% if (!selected) { %>
                                            <option value="<%= c.id %>"><%= c.category_name %></option>
                                        <% } %>
                                    <% }); %>
                                    <% } %>

                                        <option value="0">Request Category</option>
                                </select>
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="progress-basicpill-lastname-input">company Phone Number</label>
                                <input type="number" class="form-control" name="company_phone" value="<%= company.company_phone %>" required>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="mb-3">
                            <label>Company Overview / Description</label>
                            <div>
                                <textarea required id="textarea" class="form-control overview" name="overview" maxlength="300" rows="5" placeholder="" value="<%= company.overview %>"><%= company.overview %></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label class="mb-1">Keywords</label>
                            <p class="text-muted mb-3 font-14">
                                Keywords Should be Seperated By Commas
                            </p>
                            <% if(isNew) { %>
                                <textarea id="textarea" class="form-control keywords" name="keywords" maxlength="180" rows="3" placeholder="visa,student,work,...." required></textarea>
                            <% } else { %>
                                <textarea id="textarea" class="form-control keywords" name="keywords" maxlength="180" rows="3" placeholder="visa,student,work,...." required><% search_tags.forEach(function(s) { %><%= s.tags%>,<% }) %></textarea>
                            <% } %>

                        </div>
                    </div>
                    <input type="submit" value="Next" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>




<div class="col-sm-6 col-md-4 col-xl-3">
    <!-- sample modal content -->
    <div id="myModal" class="modal fade image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">Upload Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
                    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
                    <link rel="stylesheet" href="public/assets/css/imagestyle.css">
                    <link rel="stylesheet" href="public/assets/css/demo.css">
                    
                    <main class="page" >

                        <div class="box">
                            <input type="file" id="file-input" class="mb-4">
                        </div>
                    
                        <div class="box-2" >
                            <div class="result"></div>
                        </div>
                    
                        <div class="box-2 img-result hide" >
                            <img class="cropped" src="" alt="" height="100px" id="myImg">
                        </div>
                    
                        <div class="box" >
                            <div class="options hide">
                                <input type="number" class="img-w" value="300" min="100" max="1200" hidden />
                            </div>
                            <button class="btn save hide" id="savebtn">Crop</button>
                            <button class="btn upload hide" id="uploadbtn">Upload</button>
                        </div>
                    </main>

                    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
                    <script  src="public/assets/js/imagescript.js"></script>
     
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" id="imageclosebtn" hidden data-bs-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>




<div class="col-sm-6 col-md-4 col-xl-3">
    <div class="my-4 text-center" style="display: none;">
        <p class="text-muted">Small modal</p>
        <!-- Small modal -->
        <button type="button" id="small1" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-sm1">Small modal</button>
    </div>

    <div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="mySmallModalLabel">Add Country</h5>
                    <button type="button" class="btn-close closemodal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/request-addCountry" method="post">
                        <div class="mb-4">
                            <div class="mb-4">
                                <input class="form-control form-control-lg" name="newCountry" type="text" placeholder="Enter Country Name">
                            </div>
                        </div>
                        <input type="submit" value="submit" class="btn btn-success">
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


<div class="col-sm-6 col-md-4 col-xl-3">
    <div class="my-4 text-center" style="display: none;">
        <p class="text-muted">Small modal</p>
        <!-- Small modal -->
        <button type="button" id="small2" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-sm2">Small modal</button>
    </div>

    <div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="mySmallModalLabel">Request Category</h5>
                    <button type="button" class="btn-close closemodal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/request-addCategory" method="post">
                        <div class="mb-4">
                            <div class="mb-4">
                                <input class="form-control form-control-lg" name="newCategory" type="text" placeholder="Enter Category Name">
                            </div>
                        </div>
                        <input type="submit" value="submit" class="btn btn-success">
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


<script>
var logo = document.getElementById('uploadlogo');

logo.addEventListener('change', function (event) {
  handleImageUpload(event.target.files[0], 'uploadlogolink')
    .then(function (x) {
      document.getElementById("logoimage").src=x
    })
});
</script>

<style>
    .box-2 {
      height: 200px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .result img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    
</style>
    


<script>
$(document).ready(function() {
    $("select[name='countries']").change(function() {
        if ($(this).val() == "0") {
            $('#small1').trigger('click');
            $('#countries').val([]).trigger('change');

        } else {
            $('#closemodal').trigger('click');
        }
    });
});

$(document).ready(function() {
    $("select[name='categories']").change(function() {
        if ($(this).val() == "0") {
            $('#small2').trigger('click');
            $('#categories').val([]).trigger('change');

        } else {
            $('#closemodal').trigger('click');
        }
    });
});


$('form').submit(function(event) {
    event.preventDefault();

    var selectedValues1 = $('#countries').val();
    var selectedValues2 = $('#categories').val();

    var formData = $(this).serializeArray();
    var jsonData = {};
    formData.forEach(function(item) {
        jsonData[item.name] = item.value;
    });
    jsonData['countries'] = selectedValues1;
    jsonData['categories'] = selectedValues2;

    $.ajax({
        url: $(this).attr('action'),
        method: $(this).attr('method'),
        data: JSON.stringify(jsonData),
        contentType: 'application/json',
        success: function(response) {
            console.log(response.msg);

            if (!response.status) {
                erroralert(response.msg);
            }
            if (response.status) {
                successalert(response.msg);
            }

            if(response.status==true){location.reload()}
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
});

</script>




<%- contentFor('FooterJs') %>


<script src="public/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="public/assets/js/pages/form-element.init.js"></script>
<script src="public/assets/libs/inputmask/jquery.inputmask.min.js"></script>
<script src="public/assets/js/pages/form-mask.init.js"></script>

<script src="public/assets/js/pages/form-wizard.init.js"></script>
<script src="public/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script src="public/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

<script src="public/assets/libs/select2/js/select2.min.js"></script>
<script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

<script src="public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="public/assets/js/pages/form-advanced.init.js"></script>

<script src="public/assets/libs/parsleyjs/parsley.min.js"></script>

<script src="public/assets/js/pages/form-validation.init.js"></script>

<%- contentFor('BottomJs') %>