<%- contentFor('HeaderCss') %>

<!-- twitter-bootstrap-wizard css -->
<link rel="stylesheet" href="public/assets/libs/twitter-bootstrap-wizard/prettify.css">
<link href="public/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />


<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Add Business</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Add Business</a></li>
                    <li class="breadcrumb-item active">Step 3</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div id="progrss-wizard" class="twitter-bs-wizard">
                    <ul class="twitter-bs-wizard-nav nav-justified">
                        <li class="nav-item">
                            <a href="#progress-seller-details" class="nav-link" >
                                <span class="step-number bg-light text-primary">01</span>
                                <span class="step-title">Basic Details</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#progress-bank-detail" class="nav-link"  >
                                <span class="step-number bg-primary text-white">02</span>
                                <span class="step-title">Business Images</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-company-document" class="nav-link"  >
                                <span class="step-number bg-light text-primary">03</span>
                                <span class="step-title">Business Credentials</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">04</span>
                                <span class="step-title">Business Documents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">05</span>
                                <span class="step-title">Business pProfile</span>
                            </a>
                        </li>
                    </ul>

                    <div  class="progress mt-4">
                        <div class="bg-success progress-bar-striped progress-bar-animated" style="width: 40%;"></div>
                    </div>
                    <div class="tab-content twitter-bs-wizard-tab-content">
                        <div class="tab-pane" id="progress-seller-details">

                            <div class="card-body">                
                                <div class="row" id="imageprev">  
                                </div>
                            </div>
            
                        <center>
                            <div class="text-center mt-4 col-lg-4">
                                <input type="file" class="form-control mb-2" id="fileInput" multiple>
                                <button id="uploadbtn" class="btn btn-primary waves-effect waves-light">Upload Images</button>
                            </div>
                        </center>
                          
                        </div>

                    </div>
                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                        <form action="/step2" method="post">
                        <a href="/previous" class="btn btn-info">Previous</a>
                            <button type="submit" class="btn btn-primary">Next</button>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
var urls = [];


<% images && images.forEach(function(i) { %>
urls.push("<%= i.file_name %>")
<% }); %>   


for (var i = 0; i < urls.length; i++) {
    createImageDiv(urls[i]);
}

function createImageDiv(url) {
  var containerDiv = document.createElement('div');
  containerDiv.classList.add('container', '1');

  var imageElement = document.createElement('img');
  imageElement.src = url;
  imageElement.alt = '';

  var overlayDiv = document.createElement('div');
  overlayDiv.classList.add('overlay');

  var buttonDiv = document.createElement('div');
  buttonDiv.classList.add('button');

  var deleteButton = document.createElement('button');
  deleteButton.classList.add('btn', 'text-white', 'border');
  deleteButton.textContent = 'Delete';

  // Delete button click event handler
  deleteButton.addEventListener('click', function() {
    // Remove the URL from the array
    var index = urls.indexOf(url);
    if (index !== -1) {
      urls.splice(index, 1);
    }

    // Remove the entire image div from the DOM
    containerDiv.remove();
  });

  buttonDiv.appendChild(deleteButton);
  containerDiv.appendChild(imageElement);
  containerDiv.appendChild(overlayDiv);
  containerDiv.appendChild(buttonDiv);

  document.getElementById("imageprev").appendChild(containerDiv);
}

document.getElementById("uploadbtn").addEventListener("click", () => {
    document.getElementById("imageprev").innerHTML=""
  uploadFiles()
    .then((x) => {
      console.log(x);
      urls = x;
      for (var i = 0; i < x.length; i++) {
        createImageDiv(x[i]);
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
});


function uploadFiles() {
  return new Promise((resolve, reject) => {
    var files = document.getElementById('fileInput').files;
    var storageRef = firebase.storage().ref();
    var downloadURLs = [];

    var uploadPromises = Array.from(files).map((file) => {
      var fileName = file.name;
      var fileRef = storageRef.child(fileName);

      return fileRef.put(file)
        .then((snapshot) => {
          successalert('Uploaded a file:', snapshot.metadata.name);
          return snapshot.ref.getDownloadURL();
        });
    });

    Promise.all(uploadPromises)
      .then((urls) => {
        successalert('All files uploaded:', urls);
        downloadURLs = urls;
        resolve(downloadURLs);
      })
      .catch((error) => {
        erroralert('Error uploading files:', error);
        reject(error);
      });
  });
}






$('form').submit(function(event) {
    event.preventDefault();

    $.ajax({
        url: $(this).attr('action'),
        method: $(this).attr('method'),
        data: JSON.stringify({images:urls}),
        contentType: 'application/json',
        success: function(response) {
            console.log(response.msg);

            if (!response.status) {
                erroralert(response.msg);
            }
            if (response.status) {
                successalert(response.msg);
            }

            if(response.status==true){location.reload()}
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
});




</script>








<%- contentFor('FooterJs') %>
<script src="public/assets/js/pages/sweet-alerts-business.init.js"></script>

<script src="public/assets/libs/dropzone/min/dropzone.min.js"></script>



<!-- twitter-bootstrap-wizard js -->
<script src="public/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

<script src="public/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

<!-- form wizard init -->
<script src="public/assets/js/pages/form-wizard.init.js"></script>

<%- contentFor('BottomJs') %>


<style>
    .container {
  position: relative;
  margin-top: 50px;
  width: 250px;
  height: 150px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  width: 250px;
  height: 150px;
  left: 0;
}

.title {
  position: absolute;
  width: 250px;
  left: 0;
  top: 120px;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 250px;
  left:0;
  top: 90px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

</style>