<%- contentFor('HeaderCss') %>

<!-- twitter-bootstrap-wizard css -->
<link rel="stylesheet" href="public/assets/libs/twitter-bootstrap-wizard/prettify.css">
<link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

<link rel="stylesheet" href="public/assets/libs/twitter-bootstrap-wizard/prettify.css">
<link href="public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />


<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Add Business</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Add Business</a></li>
                    <li class="breadcrumb-item active">Step 4</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Add Business</h4>

                <div id="progrss-wizard" class="twitter-bs-wizard">
                    <ul class="twitter-bs-wizard-nav nav-justified">
                        <li class="nav-item">
                            <a href="#progress-seller-details" class="nav-link" >
                                <span class="step-number bg-light text-primary">01</span>
                                <span class="step-title">Basic Details</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#progress-bank-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">02</span>
                                <span class="step-title">Business Credentials</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-company-document bg-light text-primary" class="nav-link"  >
                                <span class="step-number ">03</span>
                                <span class="step-title">Business Images</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-primary text-white">04</span>
                                <span class="step-title">Business Documents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">05</span>
                                <span class="step-title">Business pProfile</span>
                            </a>
                        </li>
                    </ul>

                    <div  class="progress mt-4">
                        <div class="bg-success progress-bar-striped progress-bar-animated" style="width: 80%;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Social Links</h4>
                <div>
                    <div class="mb-4">
                        <input class="form-control" id="youtube" type="text" placeholder="Youtube Video Link (Required)">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" id="facebook" type="text" placeholder="Facebook Page (Optional)">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" id="instagram" type="text" placeholder="Instagram Account (Optional)">
                    </div>
                    <div class="mb-4">
                        <input class="form-control" id="google" type="text" placeholder="Google My Business ID (Optional)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Opening Hours</h4>

                <div class="row mb-3">
                    <table>
                        <tr>
                            <th>Day</th>
                            <th>Open</th>
                            <th>Closed</th>
                            <td>From</td>
                            <td>To</td>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td><input class="form-check-input" type="radio" value="on" name="status1" checked> </td>
                            <td><input class="form-check-input" type="radio" value="off" name="status1"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from1"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to1"></td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td><input class="form-check-input" type="radio" value="on"  name="status2" checked> </td>
                            <td><input class="form-check-input" type="radio" value="off" name="status2"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from2"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to2"></td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td><input class="form-check-input" type="radio"  value="on" name="status3" checked> </td>
                            <td><input class="form-check-input" type="radio" value="off" name="status3"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from3"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to3"></td>
                        </tr>
                        <tr>
                            <td>Thrusday</td>
                            <td><input class="form-check-input" type="radio" value="on"  name="status4" checked> </td>
                            <td><input class="form-check-input" type="radio" value="off" name="status4"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from4"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to4"></td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td><input class="form-check-input" type="radio" value="on"  name="status5" checked> </td>
                            <td><input class="form-check-input" type="radio" value="off" name="status5"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from5"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to5"></td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td><input class="form-check-input" type="radio"  value="on" name="status6" checked> </td>
                            <td><input class="form-check-input" type="radio" value="off" name="status6"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from6"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to6"></td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td><input class="form-check-input" type="radio" name="status7" value="on"  checked> </td>
                            <td><input class="form-check-input" type="radio"  name="status7" value="off"> </td>
                            <td><input class="form-control" type="time" value="09:00:00" id="from7"></td>
                            <td><input class="form-control" type="time" value="18:00:00" id="to7"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <ul class="pager wizard twitter-bs-wizard-pager-link">
        <button class="btn btn-primary" id="previous4">Previous</button>
        <button class="btn btn-primary" id="next4">Next</button>
    </ul>
</div>
<!-- end row -->







<%- contentFor('FooterJs') %>
<script src="public/assets/libs/inputmask/jquery.inputmask.min.js"></script>
<script src="public/assets/js/pages/form-mask.init.js"></script>


<script src="public/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

<script src="public/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

<!-- form wizard init -->
<script src="public/assets/js/pages/form-wizard.init.js"></script>

<script src="public/assets/libs/select2/js/select2.min.js"></script>
<script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="public/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="public/assets/js/pages/form-advanced.init.js"></script>

<script src="public/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="public/assets/js/pages/sweet-alerts-business.init.js"></script>

<%- contentFor('BottomJs') %>