<%- contentFor('HeaderCss') %>

<link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

<link rel="stylesheet" href="public/assets/libs/twitter-bootstrap-wizard/prettify.css">
<link href="public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />



<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Add company</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Add company</a></li>
                    <li class="breadcrumb-item active">Step 2</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progrss-wizard" class="twitter-bs-wizard">
                    <ul class="twitter-bs-wizard-nav nav-justified">
                        <li class="nav-item">
                            <a href="#progress-seller-details" class="nav-link" >
                                <span class="step-number bg-primary text-white">01</span>
                                <span class="step-title">Basic Details</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#progress-bank-detail" class="nav-link"  >
                                <span class="step-number  bg-light text-primary">02</span>
                                <span class="step-title">company Credentials</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-company-document" class="nav-link"  >
                                <span class="step-number bg-light text-primary">03</span>
                                <span class="step-title">company Images</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">04</span>
                                <span class="step-title">company Documents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#progress-confirm-detail" class="nav-link"  >
                                <span class="step-number bg-light text-primary">05</span>
                                <span class="step-title">company pProfile</span>
                            </a>
                        </li>
                    </ul>
                    <div  class="progress mt-4 mb-6">
                        <div class="bg-success progress-bar-striped progress-bar-animated" style="width: 20%;"></div>
                    </div>
                <form class="mt-4">

                    
<div class="col-sm-6 col-md-4 col-xl-3">
    <!-- sample modal content -->
    <div id="myModal" class="modal fade image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">Upload Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
                    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
                    <link rel="stylesheet" href="public/assets/css/imagestyle.css">
                    <link rel="stylesheet" href="public/assets/css/demo.css">
                    
                    <main class="page" >

                        <div class="box">
                            <input type="file" id="file-input" class="mb-4">
                        </div>
                    
                        <div class="box-2" >
                            <div class="result"></div>
                        </div>
                    
                        <div class="box-2 img-result hide" >
                            <img class="cropped" src="" alt="" height="100px" id="myImg">
                        </div>
                    
                        <div class="box" >
                            <div class="options hide">
                                <input type="number" class="img-w" value="300" min="100" max="1200" hidden />
                            </div>
                            <button class="btn save hide" id="savebtn">Crop</button>
                            <button class="btn upload hide" id="uploadbtn">Upload</button>
                        </div>
                    </main>

                    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
                    <script  src="public/assets/js/imagescript.js"></script>
     
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" id="imageclosebtn" hidden data-bs-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>



                    <div class="row">
                        <center>
                            <div class="col-md-6">
                                <img class="rounded me-2" alt="200x200" width="200" id="logoimage" src="https://w7.pngwing.com/pngs/531/481/png-transparent-gallery-photo-upload-photo-image-facebook-ui-colored-icon-thumbnail.png" data-holder-rendered="true">
                            </div>
                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">Upload Logo</button>

                        </center>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="progress-basicpill-lastname-input">Company / company Name</label>
                                <input type="text" class="form-control" id="company_name">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="progress-basicpill-lastname-input">Website</label>
                                <input type="text" class="form-control" id="website">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="input-email">Official Email ID</label>
                                <input type="email" id="company_email" class="form-control input-mask" data-inputmask="'alias': 'email'">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Countries You Deal in</label>
                                <select class="select2 form-control select2-multiple"
                                    multiple="multiple" data-placeholder="Select Countries" id="countries">
                                        <option value="1">Arizona</option>
                                        <option value="2">Colorado</option>
                                        <option value="3">Idaho</option>
                                        <option value="4">Montana</option>
                                        <option value="5">Nebraska</option>
                                        <option value="6">New Mexico</option>
                                </select>
                            </div>
                        </div> 
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Categories You Deal in</label>

                                <select class="select2 form-control select2-multiple"
                                    multiple="multiple" data-placeholder="Select Categories" id="categories">
                                        <option value="1">Student Visa</option>
                                        <option value="2">Work Visa</option>
                                </select>
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label class="form-label" for="progress-basicpill-lastname-input">company Phone Number</label>
                                <input type="number" class="form-control" id="company_phone">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="mb-3">
                            <label>Company Overview / Description</label>
                            <div>
                                <textarea required id="textarea" class="form-control overview" id="company_description" maxlength="300" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label class="mb-1">Keywords</label>
                            <p class="text-muted mb-3 font-14">
                                Keywords Should be Seperated By Commas
                            </p>
                            <textarea id="textarea" class="form-control keywords" maxlength="180" rows="3" placeholder="visa,student,work,...."></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<button id="next1">Submit</button>
<!-- end row -->






<script>
    var firebaseConfig = {
      apiKey: "AIzaSyDm3wPO6QhN0ezPF6hNprGw4C68Lef31fY",
      authDomain: "test-f98fd.firebaseapp.com",
      projectId: "test-f98fd",
      storageBucket: "test-f98fd.appspot.com",
      messagingSenderId: "533575527457",
      appId: "1:533575527457:web:0131ad8ed9712049304760"
    };

    document.getElementById("uploadbtn").addEventListener("click", () => {
      var imgUrl = document.getElementById('myImg').src;

      if (!firebase.apps.length) {
        firebase.initializeApp(firebaseConfig);
      }

      // Set the maximum image size to 5 MB
      const maxImageSize = 5 * 1024 * 1024; 

      // Get the file extension of the selected image
      const imgUrlParts = imgUrl.split(",");
    const data = imgUrlParts[1];
    const mimeType = imgUrlParts[0].split(":")[1].split(";")[0];
    const fileExtension = mimeType.split("/")[1];

      if (imgUrl.length > maxImageSize) {
        alert('The selected image is too large. Please choose an image smaller than 5 MB.');
        return;
      }
      console.log(fileExtension.toLowerCase())

      if (!['jpg', 'jpeg', 'png', 'gif'].includes(fileExtension.toLowerCase())) {
        alert('The selected file is not an image. Please choose an image file with a .jpg, .jpeg, .png, or .gif extension.');
        return;
      }

      fetch(imgUrl)
        .then(response => response.blob())
        .then(blob => {
          var storageRef = firebase.storage().ref();
          var timestamp = new Date().getTime();
          var imageName = 'image_' + timestamp + '.jpg';
          var imageRef = storageRef.child(imageName);
          var metadata = { contentType: 'image/jpeg' };
          var uploadTask = imageRef.put(blob, metadata);

          uploadTask.on('state_changed', null, null, function() {
            uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
              var imageUrl = downloadURL;
              console.log(imageUrl);
                document.getElementById("logoimage").src=imageUrl
                    document.getElementById("imageclosebtn").click()
            });
          });
        })
        .catch(error => {
          console.error('Error fetching image data:', error);
        });
    });
</script>
<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-storage.js"></script>

<style>
    .box-2 {
      height: 200px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .result img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    
</style>
    




<%- contentFor('FooterJs') %>
<script src="public/assets/libs/inputmask/jquery.inputmask.min.js"></script>
<script src="public/assets/js/pages/form-mask.init.js"></script>


<script src="public/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

<script src="public/assets/libs/twitter-bootstrap-wizard/prettify.js"></script>

<!-- form wizard init -->
<script src="public/assets/js/pages/form-wizard.init.js"></script>

<script src="public/assets/libs/select2/js/select2.min.js"></script>
<script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="public/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="public/assets/js/pages/form-advanced.init.js"></script>

<script src="public/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="public/assets/js/pages/sweet-alerts-business.init.js"></script>


<%- contentFor('BottomJs') %>