<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Profile</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="product-detail">
                            <div class="row">
                                <div class="col-3">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                                    </div>
                                </div>
                                <div class="col-md-6 col-7">
                                    <div class="tab-content" id="v-pills-tabContent" >
                                        <div class="tab-pane fade show active" id="product-1" role="tabpanel" >
                                            <div class="product-img" >
                                                <img src="<%= users.profile_image || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'%>" alt="img-1" class="img-fluid mx-auto d-block" data-zoom="public/assets/images/product/img-1.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center mt-2">
                                        <center>
                                            <div class="col-sm-6">
                                                <div class="d-grid">
                                                    <button type="button" class="btn btn-primary waves-effect waves-light mt-2">
                                                    Change Image
                                                </button>
                                                </div>
                                            </div>
                                        </center>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end product img -->
                    </div>
                    <div class="col-xl-7">
                        <div class="mt-4 mt-xl-3">
                            <a href="#" class="text-primary">Account Type : User</a>
                            <h3 class="mt-1 mb-3">Hii! <%= users.name %></h3>
                            <h6 class="mt-1 mb-2">Email : <%= users.email %></h6>
                            <h6 class="mt-1 mb-2">Phone : <%= users.phone %></h6>

                            
                            <% if(!users.is_profile){%>
                            <h6 class="mt-1 mb-2 text-warning">Your Profile Is Incomplete</h6>
                            <a href="/complete-profile" class="btn btn-warning">Complete Profile</a>
                            <% }else{%>
                                <h6 class="mt-1 mb-2">Aadhar : <%= users.aadhar %></h6>
                                <h6 class="mt-1 mb-2">Pan : <%= users.pan %></h6>
                            <% }%>

                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="mt-4">
                    <h5 class="font-size-14">Reviews : </h5>
                    <div class="d-inline-flex mb-3">
                        <div class="text-muted me-3">
                            <span class="mdi mdi-star"></span>
                            <span class="mdi mdi-star"></span>
                            <span class="mdi mdi-star"></span>
                            <span class="mdi mdi-star"></span>
                            <span class="mdi mdi-star"></span>
                        </div>
                        <div class="text-muted">( 0  Reviews)</div>
                    </div>
                    <div class="border p-4 rounded">

                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>


<script>

    $('form').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serializeArray();
        var jsonData = {};
        formData.forEach(function(item) {
          jsonData[item.name] = item.value;
        });
        $.ajax({
          url: $(this).attr('action'),
          method: $(this).attr('method'),
          data: JSON.stringify(jsonData),
          contentType: 'application/json',
          success: function(response) {
            console.log(response.msg)
    
            if(response.status==false){
                infoalert(response.msg)
            }
    
            if(response.status) window.location.href =response.link
    
          },
          error: function(xhr, status, error) {
            console.error(error);
          }
        });
      });
    </script>
    

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>